{% extends 'admin.html.twig' %}

{% block title %}User Show{% endblock %}

{% block body %}
<center>
    <div class="wrapper site-min-height">
        <!-- page start-->
        <div class="chat-room mt">
            <div class="col-lg-12">
                <aside class="mid-side">
                    <div class="chat-room-head">
                        <h3>User</h3>



                    </div>

                    <section class="content invoice centered">

                        <div class="group-rom">
                            <div class="first-part odd">Nom</div>
                            <div class="second-part">{{ user.FirstName }}</div>

                        </div>

                        <div class="group-rom">
                            <div class="first-part odd">Last name</div>
                            <div class="second-part">{{ user.lastname }}</div>

                        </div>
                        <div class="group-rom">
                            <div class="first-part odd">email</div>
                            <div class="second-part">{{ user.email }}</div>

                        </div>
                        <div class="group-rom">
                            <div class="first-part odd">tel</div>
                            <div class="second-part">{{ user.tel }}</div>

                        </div>



                    </section>
                    <div class="group-rom ">
                        <div class="row justify-content-center">
                            <div class="col-lg-3">
                                <br> <br>


                            </div>

                            <div class="col-lg-offset-7">
">
                                <br> <br>
                                <button type="button" class="btn btn-dark btn-primary  btn-lg mb-1 mx-auto z-depth-5 btn-rounded ">
                                    <a href="{{ path('app_users') }}"class= text-white title="retour a la liste"><i class="fa fa-reply"></i> Retour a la liste </a></button>
                            <br><br>
                            </div>


                        </div>

                    </div>

                </aside>

            </div>
        </div>
    </div>

</center>

{% endblock %}

